html,
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    color: #0d3351;
    font-size: 18px;
    background-color: #f3f3f3;
}
.container {
    width: 1180px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.page-header {
    min-height: 600px;
    background-image: url("../img/sochi-2258855.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu img {
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
}
ul li {
    list-style: none;
    font-family: 'Raleway', serif;
}
.header-menu {
    float: left;
    width: 520px;
    margin: 0;
    margin-top: -22px;
    margin-left: 450px;
    padding: 0;
    list-style: none;
    cursor: pointer;
}
.header-menu li {
   float: left;
    margin-right: 25px;
    white-space: : nowrap;
}
.menu-room::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 12px;
    background-image: url("../img/css_sprites.png");
    background-position: -44px -48px;
    margin-right: 5px;
}
.header-menu  li::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 5px;
    background-image: url("../img/css_sprites.png");
    background-position: -10px -82px;
    margin-left: 5px;
    vertical-align: middle;
}
.menu-money::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 12px;
    background-image: url("../img/css_sprites.png");
    background-position: -82px -46px;
    margin-right: 5px;
}
.contact-information {
    float: right;
    margin: 0;
    margin-left: 800px;
    margin-top: -50px;
}
.logo {
  float: left;
    margin: 0;
    margin-left: 550px;
}
.promo {
    text-align: center;
}
.promo p {
    font-family: 'Bitter', serif;
    font-weight: normal;
}
.promo p:first-child {
    font-size: 36px;
    line-height: 48px;
    margin: 0;
}
.promo p:last-child {
    font-size: 100px;
    line-height: : 48px;
    text-transform: uppercase;
    margin: 0;
}
.button {
    text-align: center;
}
.order, .more {
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway', serif;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    background: #33c7fd;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 20px 0;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    
}
.order:hover, .more:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}
.order:active, .more:active {
    opacity: 0.5;
}
.line {
    text-align: center;
    margin-top: -150px;
}
h2 {
    text-align:center;
    font-size: 36px;
    letter-spacing: 5px;
}
.container > p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
.container > p::after {
   content: '';
    display: inline-block;
    width: 8px;
    height: 5px;
    background-image: url("../img/css_sprites.png");
    background-position: -10px -82px;
    margin-left: 8px;
    vertical-align: middle; 
}
.catalog-list {
    margin-left: 10px;
}
.catalog-item {
    float: left;
    background: #fff;
    margin-bottom: 30px;
    margin-right: 30px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.catalog-item p, h3 {
        margin-left: 30px;
}
h3 {
    font-size: 18px;
    color: #00a2dd;
}
h3::after {
    content: '';
    display: inline-block;
    border: 5px solid transparent;	
    border-left: 5px solid #00a2dd;
    margin-left: 5px;
}
.catalog-item p {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.catalog-item .price {
    font-size: 30px;
    font-family: 'Raleway', serif;
    margin-bottom:10px;
}
.underline {
    position:absolute;
    top: 250px;
    left: 200px;
    color: #7a8f9f;
    text-decoration: line-through;
}
.catalog-item:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
.catalig-item:active {
}
.more::after {
    content: '';
    display: inline-block;
    border: 5px solid transparent;	
    border-top: 5px solid #fff;
    margin-left: 8px;
    vertical-align: bottom;
}
.hit::after {
    content: 'Хит продаж';
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    top: -6px;
    left: 424px;
    position: absolute;
    width: 87px;
    height: 100px;
    background: url("../img/tag.png");
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}
.stock::after {
    content: 'Акция';
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    top: -6px;
    left: 424px;
    position: absolute;
    width: 87px;
    height: 100px;
    background: url("../img/tag1.png");
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    color: #fff; 
}
.discount::after {
    content: 'Скидка: 10%';
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    top: -6px;
    left: 424px;
    position: absolute;
    width: 87px;
    height: 100px;
    background: url("../img/tag1.png");
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    color: #fff; 
}
.btn-up {
    position: fixed;
    bottom: -50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #333;
    z-index: 100;
    cursor: pointer;
    outline: 0;
    transition: 0.4s;
}
.btn-up::after {
    content:'';
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.btn-up.active {
    bottom: 50px;
}
.page-footer {
    background: #fff;
    padding-bottom: 40px;
}
.footer-menu ul {
    padding-top: 30px;
}
.footer-menu ul li {
    margin-bottom: 15px;
    margin-left: -20px;
}
.footer-menu ul li:hover {
    text-decoration: underline;
}
.footer-menu ul li:active {
    opacity: 0.5;
}
.footer-menu ul li a {
    text-decoration: none;
    color: #0d3351;
}
.footer-social {
    text-align: center;
    margin-top: -105px;
}
.social-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 5px;
    vertical-align: middle;
    color: #ffffff;
    background-color: #0d3351;
    background-image: url("../img/css_sprites.png");
    background-repeat: no-repeat;
    font-size: 0;
    border: 3px solid #1a74bb
}
.social-btn:last-child {
    margin-right: 0;
}
.social-btn-vk {
    background-position: -38px 0px;
}
.social-btn-ok {
    background-position: -72px -4px;
}
.social-btn-yt {
    background-position: -2px -4px;
}
.social-btn-in {
    background-position: -2px -40px;
}
.social-btn:hover {
    border-color:  #5cb5fb;
}
.social-btn:active {
    opacity: 0.5;
}
.footer-contacts {
    float:right;
    margin-top: -85px;
}