html,
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-family: 'Bitter', serif;
    color: #0d3351;
    font-size: 18px;
}
.container {
    width: 1180px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.page-header {
    min-height: 600px;
    background-image: url("../img/sochi-2258855.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu img {
    margin-left: 50px;
    margin-top: 50px;
}
ul li {
    list-style: none;
    font-family: 'Raleway', serif;
}
.header-menu {
    float: left;
    width: 520px;
    margin: 0;
    margin-top: -22px;
    margin-left: 450px;
    padding: 0;
    list-style: none;
}
.header-menu li {
   float: left;
    margin-right: 25px;
    white-space: : nowrap;
}
.menu-room::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 12px;
    background-image: url("../img/css_sprites.png");
    background-position: -40px -10px;
    margin-right: 5px;
}
.header-menu  li::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 5px;
    background-image: url("../img/css_sprites.png");
    background-position: -10px -42px;
    margin-left: 5px;
    vertical-align: middle;
}
.menu-money::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 12px;
    background-image: url("../img/css_sprites.png");
    background-position: -10px -10px;
    margin-right: 5px;
}
.contact-information {
    float: left;
    margin: 0;
    margin-left: 800px;
    margin-top: -50px;
}
.logo {
  float: left;
    margin: 0;
    margin-left: 550px;
}
.promo {
    text-align: center;
}
.promo p {
    font-family: 'Bitter', serif;
    font-weight: normal;
}
.promo p:first-child {
    font-size: 36px;
    line-height: 48px;
    margin: 0;
}
.promo p:last-child {
    font-size: 100px;
    line-height: : 48px;
    text-transform: uppercase;
    margin: 0;
}
.button {
    text-align: center;
}
.order, .more {
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway', serif;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    background: #33c7fd;
    margin-top: 25px;
    padding: 20px 0;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    
}
.order:hover, .more:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}
.line {
    text-align: center;
    margin-top: -150px;
}
h2 {
    text-align:center;
    font-size: 36px;
    letter-spacing: 5px;
}
.container > p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
.container > p::after {
   content: '';
    display: inline-block;
    width: 8px;
    height: 5px;
    background-image: url("../img/css_sprites.png");
    background-position: -10px -42px;
    margin-left: 8px;
    vertical-align: middle; 
}
.catalog-list {
    margin-left: 10px;
}
.catalog-item {
    float: left;
    background: #fff;
    margin-bottom: 30px;
    margin-right: 30px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}
.catalog-item p, h3 {
        margin-left: 30px;
}
h3 {
    font-size: 18px;
    color: #00a2dd;
}
h3::after {
    content: '';
    display: inline-block;
    border: 5px solid transparent;	
    border-left: 5px solid #00a2dd;
    margin-left: 5px;
}
.catalog-item p {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.catalog-item .price {
    font-size: 30px;
    font-family: 'Raleway', serif;
    margin-bottom:10px;
}
.underline {
    position:absolute;
    top: 250px;
    left: 200px;
    color: #7a8f9f;
    text-decoration: line-through;
}
.catalog-item:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
.more::after {
    content: '';
    display: inline-block;
    border: 5px solid transparent;	
    border-top: 5px solid #fff;
    margin-left: 8px;
        vertical-align: bottom;
}